@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body,
button,
input {
  font-family: "Barlow", sans-serif !important;
}

body {
  min-height: 100vh;
  background: #14181b;

  /* background: url("/bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/* SEARCH SECTION START*/
.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome, "Barlow", sans-serif;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.582);
}

.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome, "Barlow", sans-serif;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.582);
}

.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome, "Barlow", sans-serif;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.582);
}

input:focus {
  outline: none;
  background-color: #162e91 !important;
}
.search-input {
  border: none;
  color: #fff;
  padding: 0.7em 6.5em;
  padding-top: 1.4em;
  background: none;
  width: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

section.header-search-section {
  padding: 0em;
  background-color: #2848c7 !important;
}
section.header-search-section {
  padding: 0em;
}
section.header-logo {
  background-color: #162e91 !important;
  padding: 1em;
}
section.header-logo p {
  padding-top: 0.7em;
  padding-left: 0.7em;
}

section.header {
  padding: 0em;
}

/* SEARCH SECTION END*/

/* MAIN SECTION START*/
div.card-content {
  padding: 0.2em !important;
}
.pagination-container span:hover {
  cursor: pointer;
}

section.main {
  padding-top: 0;
  padding: 0;
}
section.main .main-menu {
  background: #1a1e23;
}
section.main .main-content {
  background: url("/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.main .main-content .card-column {
  padding: 1.25rem;
}
section.main .main-content .card-column > .card {
  background: none;
}

section.main .main-content .card-column .image img {
  border-radius: 5px;
}

section.main .table thead {
  background: #000;
}
section.main .table thead td,
section.main .table thead th {
  color: #fff;
}
section.main .table thead th {
  border-width: 0 0 1px;
  border-color: rgba(255, 255, 255, 0.288);
}
section.main td {
  color: #fff;
}
section.main .table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #1d1d1d;
}
section.main .table tr {
  background-color: #000;
}
section.main .table td,
.table th {
  border: none;
}

.bars.icon {
  position: absolute;
}
.bars.icon.is-large {
  height: 2rem;
  width: 4rem;
}
.bars.icon.is-large i {
  font-size: 2em;
}

.pagination-container > span {
}
/* MAIN SECTION END*/

/*STARS*/

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.pagination {
  display: inline-block;
}

.pagination span {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  /* border: 1px solid #ddd; */
  margin: 0 4px;
}

.pagination span.active {
  background-color: #3273dc;
  color: white;
  border: 1px solid #3273dc;
}

.pagination span:hover {
  cursor: pointer;
  background-color: #2848c7;
}

.pagination .current {
  color: rgb(172, 172, 172);
}

/* RESPONSIVE START*/
@media screen and (max-width: 768px) {
  section.columns {
    margin-left: 0;
    margin-right: 0;
  }
  .stars-outer {
    bottom: 2.5em;
    float: right;
  }
  .table tbody {
    font-size: 0.6em;
  }
  section.main .table thead th {
    font-size: 0.8em;
  }

  .pagination span {
    font-size: 0.7em;
    padding: 4px 8px;
  }
  div.card {
    box-shadow: none;
  }
  #year.has-text-grey-light {
    color: #fff !important;
  }
}

@media screen and (max-width: 360px) {
  .search-container input,
  .search-container button {
    font-size: 1rem !important;
  }
}
