@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body,
button,
input {
  font-family: "Barlow", sans-serif !important;
}

body {
  min-height: 100vh;
  background: #14181b;

  /* background: url("/bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/* SEARCH SECTION START*/
.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome, "Barlow", sans-serif;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.582);
}

.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome, "Barlow", sans-serif;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.582);
}

.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome, "Barlow", sans-serif;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.582);
}

input:focus {
  outline: none;
  background-color: #162e91 !important;
}
.search-input {
  border: none;
  color: #fff;
  padding: 0.7em 6.5em;
  padding-top: 1.4em;
  background: none;
  width: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

section.header-search-section {
  padding: 0em;
  background-color: #2848c7 !important;
}
section.header-search-section {
  padding: 0em;
}
section.header-logo {
  background-color: #162e91 !important;
  padding: 1em;
}
section.header-logo p {
  padding-top: 0.7em;
  padding-left: 0.7em;
}

section.header {
  padding: 0em;
}

/* SEARCH SECTION END*/

/* MAIN SECTION START*/
div.card-content {
  padding: 0.2em !important;
}
.pagination-container span:hover {
  cursor: pointer;
}

/* MAIN SECTION END*/
section.main {
  padding-top: 0;
  padding: 0;
}
section.main .main-menu {
  background: #1a1e23;
}
section.main .main-content {
  background: url("/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.main .main-content .card-column {
  padding: 1.25rem;
}
section.main .main-content .card-column > .card {
  background: none;
}

section.main .main-content .card-column .image img {
  border-radius: 5px;
}
/* RESPONSIVE START*/

@media screen and (max-width: 360px) {
  .search-container input,
  .search-container button {
    font-size: 1rem !important;
  }
}
